body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #f9fafc;
  color: #000;
}
header {
  margin: 20px;
}
h1 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.header-nav li {
  list-style: none;
}
header nav ul {
  display: flex;
  flex-direction: column;
}

.header-nav a,
.description a,
.footer-nav a {
  color: #69696a;
}

.header-nav a,
.footer-nav a {
  text-decoration: none;
}

.hire-us,
.cta {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.hire-us a {
  padding: 10px;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.description-heading {
  color: #000;
}
.description {
  border-left: 2px solid #69696a;
  padding-left: 10px;
  padding-bottom: 10px;
}

.chirpus-footer {
  color: #000;
}

.cta {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

footer {
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  margin: 20px;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer-nav ul {
  display: flex;
  list-style-type: none;
  padding: 5px;
}

.footer-nav li {
  padding: 5px;
